{extend name="base/common"}

{block name="style"}
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>用户管理</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">Admin</a></li>
            <li class="active"><strong>User</strong></li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户列表</h5>
                </div>
                </div>

            <div id="modal-form" class="modal fade" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title text-center tt">用户关注</h3>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>


            <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input class="i-checks check-all" type="checkbox"></th>
                                <th>UID</th>
                                <th>昵称</th>
                                <th>登录次数</th>
                                <th>最后登入时间 </th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td><input type="checkbox" class="i-checks ids" name="input[]"></td>
                                <td>{$vo.id}</td>
                                <td>{$vo.nickname}</td>
                                <td>{$vo.login}</td>
                                <td><span>{$vo.last_login_time|time_format}</span></td>
                                <td>
                                {eq name="vo.status" value="1"}
                                    <a href="{:Url('Customer/changeStatus?method=forbidUser&id='.$vo.id)}" class="ajax-get btn-sm btn-success">{$vo.status_text}</a>
                                {else /}
                                    <a href="{:Url('Customer/changeStatus?method=resumeUser&id='.$vo.id)}" class="ajax-get btn-sm btn-primary">{$vo.status_text}</a>
                                {/eq}
                                </td>
                                <td>
                                    <a data-toggle="modal" title="编辑" href="#modal-form" class="btn-sm btn-primary" onclick="like({$vo.id})">ta的关注</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="10">
                                    <div class="page">{$list->render()}</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
$(function(){
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
    });
    $(".check-all").on("ifChanged",function(){
        $("tbody").find(".ids").iCheck("toggle");
    });
});

function like(id) {
    $.ajax({
        type: "post",
        url: "{:Url('Customer/getLike')}",
        data: {id:id},
        //dataType: "json",
        success: function(response){
            var len = response.length;
            var html = '';
            if (len == 0){
                html +=  '<p class="text-center" style="color: red">' + '该用户暂无关注' +  '</p>'
            }else {
                for (var i = 0; i < len; ++i) {
                    html +=  '<p class="text-center">' + response[i].title +  '</p>'
                }
            }
            $(".modal-body").html(html);

        }
    })
}
</script>
{/block}